* {
  margin: 0;
}

html,
body,
main {
  height: 100%;
}

main {
  display: grid;
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
  flex-flow: column;
  padding: 1rem;
}

#canvas {
  box-shadow: 0 0 0 1px;
}

#controls {
  display: flex;
  flex-flow: column;
  row-gap: 1rem;
  padding: 1rem;
}

#array-size {
  display: flex;
  column-gap: 1rem;
}